<aside class="sidebar">
    <ul class="menu-list">
      <li>
        <div class="menu-container">
          <button class="icon" id="menu">
            <img src="{{url_for('static' , filename='images/menu.svg')}}" alt="menu" />
          </button>
        </div>
      </li>
      <li>
        <button class="icon" id="search">
          <img src="{{url_for('static' , filename='images/search.svg')}}" alt="search" />
        </button>
      </li>
      <li>
        <button class="icon" id="dashboard">
          <img src="{{url_for('static' , filename='images/grid.svg')}}" alt="dashboard" />
        </button>
      </li>
      <li>
        <button class="icon" id="pets">
          <img src="{{url_for('static' , filename='images/games.png')}}" alt="pets" />
        </button>
      </li>
      <li>
        <button class="icon" id="clients">
          <img src="{{url_for('static' , filename='images/user.svg')}}" alt="clients" />
        </button>
      </li>
      <li>
        <button class="icon" id="vets">
          <img src="{{url_for('static' , filename='images/gamers.png')}}" alt="vets" />
        </button>
      </li>
      <li>
        <button class="icon" id="settings">
          <img src="{{url_for('static' , filename='images/settings.svg')}}" alt="settings" />
        </button>
      </li>
    </ul>
  </aside>